{{page-hamburger-menu title="glayvinator" burger=burger user=session.currentUser}}

{{#super-center}}
  <img src="assets/images/cromulon.png" alt="" class="cromulon">
  <h3>SHOW ME WHAT YOU GOT</h3>
{{/super-center}}
